@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Montserrat", sans-serif;
		font-size: 14px;
	}
}

.animate-in {
	transition: all 0.3s ease-in-out;
	opacity: 1;
}
/* [data-card] > picture > img {
	transition: transform 1s cubic-bezier(0.77, 0, 0.18, 1);
	transform: translateY(100px);
}
[data-card] > div {
	transition: transform 1s cubic-bezier(0.77, 0, 0.18, 1);
	transform: translateY(-100px);
}
.animate-in[data-card] > picture > img {
	transform: translateY(0px);
}
.animate-in[data-card] > div {
	transform: translateY(0px);
} */
